<div class="content">
    <div class="row mx-0">
        <div class="col-sm-6 offset-lg-3 text-center my-4">

            <h3>
                There's a saying about that too!
            </h3>
        </div>
    </div>


    <div class="pagination container" style="border: solid 2px red;">
        <app-pagination></app-pagination>
    </div>

    <!-- <div class="container">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead class="border pt-3">
        <tr class="">
          <th class="bg-warning"> </th>
          <th class="bg-info">Author</th>
          <th class="">Quote</th>
        </tr>
      </thead>
      <tbody>
        <tr class="" *ngFor="let q of data">
          <td class="bg-warning">❝</td>
          <ng-container *ngIf="q.author==null; else author">
            <td class="bg-info">Unknown author</td>
          </ng-container>
          <ng-template #author>
            <td class="bg-info">{{q.author}}</td>
          </ng-template>
          <td class="">{{q.text}}</td>
        </tr>
      </tbody>
    </table>
  
  </div> -->
</div>

<div class="container-fluid small bg-secondary text-white footer">
    <div class="container">
        2021 EklegoShape
    </div>
</div>
<router-outlet></router-outlet>